mixin breadcrumbs(obj)
  ul.breadcrumbs
    .container.breadcrumbs__container
      - let lastEl = obj.pop()
      each val in obj
        li.breadcrumbs__item
          a.breadcrumbs__link(href=val[0])=val[1]
      li.breadcrumbs__item
        span.breadcrumbs__text=lastEl[1]

mixin btn(type, Color, Class, text)
  button.btn(class=Class+" btn__"+Color type=type)=text

mixin link(href, Color, Class, text)
  a.btn(class=Class+" btn__"+Color href=href)=text

mixin btn-close
  button.btn-close(type="button" aria-label="Закрыть")
    img(src="@img/close-icon.svg", alt="")

mixin btn-favorites(Class)
  button.btn-favorites(class=Class type="button" aria-label="Добавить в избранное") 
    svg.btn-favorites__icon
      use(xlink:href="@img/sprite.svg#favorites")

mixin rating(Class, star)
  ul.rating(class=Class aria-label=star+"/5 звезд")
    - let i = 1;
    while i <= 5
      if star > 0
        li.rating__item
          svg.rating__icon.rating__icon_fill()
            use(xlink:href="@img/sprite.svg#star")
        - star--;
      else 
        li.rating__item
          svg.rating__icon.rating__icon()
            use(xlink:href="@img/sprite.svg#star")
      - i++;

mixin counter(Class, counter)
  .counter(class=Class)
    button.counter__btn.counter__btn_minus(type="button" aria-label="Минус")
    span.counter__text=counter
    button.counter__btn.counter__btn_plus(type="button" aria-label="Плюс")

mixin product-item(Class, img, pay, name, favorites)
  li.product-item(class=Class)
    a.product-item__link(href="./product.html") 
    .product-item__img-wrap
      img.product-item__img(src=img, alt="Фотография продукта")
    strong.product-item__pay=pay
    h3.product-item__name=name
    +btn-favorites('product-item__favorites '+favorites)

mixin cart-item(Class, img, title, characteristic1, characteristic2, counter, pay)
  li.cart-item(class=Class)
    .cart-item__inner
      .cart-item__img-wrap 
        img.cart-item__img(src=img, alt="Фотография продукта")
      .cart-item__content
        h2.cart-item__title=title
        ul.cart-item__characteristic
          li.cart-item__characteristic-item
            span.cart-item__characteristic-name Размер: 
            span.cart-item__characteristic-item-text=characteristic1
          li.cart-item__characteristic-item
            span.cart-item__characteristic-name Цвет: 
            span.cart-item__characteristic-item-text=characteristic2
        +counter('cart-item__counter',counter)
        .cart-item__pay=pay
        .cart-item__btn-wrap.cart-item__btn-wrap-desktop
          +btn-favorites('cart-item__btn cart-item__btn-favorites')
          button.cart-item__btn.cart-item__btn-remove(type="button" aria-label="Удалить")
            img(src="@img/btn-remove-icon.svg", alt="")
    .cart-item__bottom
      +counter('cart-item__counter-mobile', counter)
      .cart-item__btn-wrap
        +btn-favorites('cart-item__btn cart-item__btn-favorites')
        button.cart-item__btn.cart-item__btn-remove(type="button" aria-label="Удалить")
          img(src="@img/btn-remove-icon.svg", alt="")

mixin blog-item(Class, img, datetime, time, title, desc)
  li.blog-item.grid.blog__item(class=Class)
    .blog-item__img-wrap.col-md-6.col-12
      img.blog-item__img(src=img, alt="")
    .blog-item__content.col-xl-5.col-md-6.col-12
      time.blog-item__date(datetime="")=time
      h2.blog-item__title=title
      p.blog-item__desc=desc
      a.blog-item__more-link(href="./article.html") Подробнее

mixin similar-products(title)
  section.similar-products
    .container.similar-products__container 
      h2.section-title.similar-products__title=title
      .swiper.similar-products__swiper
        .block-nav.block-nav_slider
          button.swiper-button.swiper-button-prev.block-nav__button.block-nav__button_prev(type="button")
            img(src="@img/arrow-down-icon.svg", alt="")
          button.swiper-button.swiper-button-next.block-nav__button.block-nav__button_next(type="button")
            img(src="@img/arrow-down-icon.svg", alt="")
        ul.swiper-wrapper
          -
            let productArr = [
              ['swiper-slide col-lg-3 col-md-4 col-6','@img/product/product-9.jpg', '999 ₽','Прямые брюки'],
              ['swiper-slide col-lg-3 col-md-4 col-6','@img/product/product-10.jpg','2 499 ₽','Рубашка из вискозы с роговыми пуговицами'],
              ['swiper-slide col-lg-3 col-md-4 col-6','@img/product/product-11.jpg','600 ₽','Джемпер кроёный'],
              ['swiper-slide col-lg-3 col-md-4 col-6','@img/product/product-12.jpg','1 200 ₽','Прямая юбка'],
              ['swiper-slide col-lg-3 col-md-4 col-6','@img/product/product-13.jpg','1 500 ₽','Прямая юбка'],
              ['swiper-slide col-lg-3 col-md-4 col-6','@img/product/product-14.jpg','2 400 ₽','Джинсы Boyfriend'],
              ['swiper-slide col-lg-3 col-md-4 col-6','@img/product/product-15.jpg','3 000 ₽','Минималистичная куртка с капюшоном'],
              ['swiper-slide col-lg-3 col-md-4 col-6','@img/product/product-16.jpg','1 800 ₽','Трикотажные широкие брюки'],
            ]
          each val in productArr
            +product-item(val[0],val[1],val[2],val[3],'') 